* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

 header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #ececec;
}

.logo{
    max-width: 10rem;
}

.nav-list{
    display: flex;
    list-style-type: none;
    gap: 1rem
    ;
}

.nav-list li a{
    text-decoration: none;
    color: #1c1c1c;
}

.abrir-menu,
.cerrar-menu{
    display: none;
}


@media screen and (max-width: 550px ) {
    .abrir-menu,
    .cerrar-menu{
        display: block;
        border: 0;
        font-size: 1.5rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu{
        color: #1c1c1c;
        display: flex;
        flex-direction: column;
        width: 3rem;
        height: 3rem;
        border: 0;
        background: transparent;
        gap: .65rem;
    }

    .abrir-menu > div{
        background: black;
        height: 3px;
        width: 100%;
        border-radius: 5px;
        transition: all .5s;
        transform-origin: left;

    }

    .abrir-menu:hover div:first-child{
        transform: rotate(45deg);
    }

    .abrir-menu:hover div:nth-child(2){
        
        opacity: 0;
    }

    .abrir-menu:hover div:last-child{
        transform: rotate(-45deg);
        
    }



    .cerrar-menu{
        color: #ececec;
    }

    .nav{
        opacity: 0;
        visibility: hidden;
        transition: .75s;
        
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        bottom: 0;
        box-shadow: 0 0 0 100vmax rgb(0, 0, 0, .5);
    }

    .nav.visible{
        opacity: 1;
        visibility: visible;
    }

    .nav-list{
        flex-direction: column;
        align-items: end;

    }

    .nav li a{
        
        color: #ececec;
    }


}
